
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
Model/
FRONTEND/Demo import model/
FRONTEND/simple_dummy_models/
FRONTEND/employee-stats.html
# Logs và file tạm
*.log
*.tmp

# File cấu hình nhạy cảm (tùy chọn)
src/main/resources/application.properties
Model/Storage
# Bỏ qua file HELP.md (theo file tham khảo của bạn)
HELP.md